<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SKPBlogEngine.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SKPBlogEngine.Web.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/favicon.png">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">


                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="150" height="40" viewBox="0 0 550 60" xml:space="preserve">
<g transform="matrix(1 0 0 1 35.99 124.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(1 0 0 1 180.99 154.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(1 0 0 1 137.99 116.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(1 0 0 1 133.99 119.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(1 0 0 1 155.99 124.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(1 0 0 1 297.99 221.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(1 0 0 1 148.99 91.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(1 0 0 1 35.99 133.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(1 0 0 1 31.99 254.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(1 0 0 1 183.99 180.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(4.18 0 0 4.26 275.5 31.83)" style="">
                    <text xml:space="preserve" font-family="'Playfair Display', serif" font-size="18" font-style="normal" font-weight="normal" style="stroke: rgb(255,251,251); stroke-opacity: 0; stroke-width: 1; stroke-dasharray: 15 15; stroke-linecap: square; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,235,222); fill-rule: nonzero; opacity: 1; white-space: pre;"><tspan x="-65.72" y="5.65" style="font-family: 'Open Sans', sans-serif; font-weight: bold; fill: rgb(0,176,174); ">\\SKPATEL</tspan><tspan x="25.42" y="5.65" style="font-family: 'Open Sans', sans-serif; font-weight: bold; fill: rgb(155,172,169); ">.NET</tspan></text>
</g>
</svg>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year -
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="110" height="50" viewBox="0 0 550 60" xml:space="preserve">
<g transform="matrix(1 0 0 1 35.99 124.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(1 0 0 1 180.99 154.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(1 0 0 1 137.99 116.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(1 0 0 1 133.99 119.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(1 0 0 1 155.99 124.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(1 0 0 1 297.99 221.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(1 0 0 1 148.99 91.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(1 0 0 1 35.99 133.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(1 0 0 1 31.99 254.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(1 0 0 1 183.99 180.02)">
<line style="stroke: rgb(0,0,0); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" x1="0" y1="0" x2="0" y2="0" />
</g>
<g transform="matrix(4.18 0 0 4.26 275.5 31.83)" style="">
            <text xml:space="preserve" font-family="'Playfair Display', serif" font-size="18" font-style="normal" font-weight="normal" style="stroke: rgb(255,251,251); stroke-opacity: 0; stroke-width: 1; stroke-dasharray: 15 15; stroke-linecap: square; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,235,222); fill-rule: nonzero; opacity: 1; white-space: pre;"><tspan x="-65.72" y="5.65" style="font-family: 'Open Sans', sans-serif; font-weight: bold; fill: rgb(0,176,174); ">\\SKPATEL</tspan><tspan x="25.42" y="5.65" style="font-family: 'Open Sans', sans-serif; font-weight: bold; fill: rgb(155,172,169); ">.NET</tspan></text>
</g>
</svg>
            - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
